<footer class="footer">
  <div class="container">
    <div class="nav-footer">
      <div class="item">
        <a [routerLink]="['/']">
          <mat-icon>home</mat-icon>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/']">
          <mat-icon>search</mat-icon>
        </a>
      </div>
      <div class="item">
        <a (click)="onCreateMovie()">
          <mat-icon>add_box</mat-icon>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/']">
          <mat-icon>notification_important</mat-icon>
        </a>
      </div>
      <div class="item">
        <a [routerLink]="['/']">
          <mat-icon>account_circle</mat-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
