<div class="wrapper">
  <mat-form-field
    [class.pr30]="
      selected.value &&
      selected.status !== 'DISABLED' &&
      !selected.hasValidator(Validators.required)
    "
    appearance="outline"
  >
    <mat-label>{{ title }}</mat-label>
    <mat-select
      class="select"
      (selectionChange)="selectionChange()"
      [formControl]="selected"
      #matSelect
    >
      <mat-option *ngFor="let option of options" [value]="option.id">{{ option.name }}</mat-option>
    </mat-select>
    <mat-error>{{ error }}</mat-error>
  </mat-form-field>
  <button
    class="button"
    mat-icon-button
    matSuffix
    *ngIf="
      selected.value &&
      selected.status !== 'DISABLED' &&
      !selected.hasValidator(Validators.required)
    "
    (click)="clearSelectbox(matSelect)"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
