<h1 mat-dialog-title>Thay đổi mật khẩu</h1>
<div mat-dialog-content>
  <form class="form" [formGroup]="reactiveForm">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Mật khẩu hiện tại</mat-label>
      <input
        [type]="hidePassword ? 'password' : 'text'"
        matInput
        formControlName="currentPassword"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="formErrors['password']">{{ formErrors['password'] }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Mật khẩu mới</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="formErrors['password']">{{ formErrors['password'] }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Xác nhận mật khẩu mới</mat-label>
      <input
        [type]="hidePassword ? 'password' : 'text'"
        matInput
        formControlName="confirmPassword"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="formErrors['confirmPassword']">{{
        formErrors['confirmPassword']
      }}</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button type="button" mat-button mat-dialog-close>Hủy</button>
  <button type="button" mat-button cdkFocusInitial (click)="onConfirm()">Đồng ý</button>
</div>
